form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the form labels */
label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style the form input fields */
input,
select,
textarea {
  width: 300px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the form submit button */
input[type="submit"] {
  background-color: green;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the form input fields on focus */
input:focus,
select:focus,
textarea:focus {
  border: 2px solid green;
}

.header{
  text-align: center;
  color: green;
}
.label{
  color : rgb(98, 10, 122);
}
.input{
  color: rgb(102, 83, 9);
  
}

/* nav bar: */

nav {
  background-color: #333;
  height: 50px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}